/*HEAD SECTION*/
#Head {
    height: 100vh;
    background-image: url(../Images/bg-pageHead.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Profession {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(31,76,82,1) 30%, rgba(31,76,82,1) 60%, rgba(255,255,255,0) 100%);
}

#WhoButton {
    background-color: #232325;
}
    #WhoButton:hover {
        background-color: #f7f7f7;
    }


/*ABOUT SECTION*/
#About {
    background-color: #f9f9f9;
    background-image: url(../Images/bg-Projects.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Portrait .Image {
    height: 12em;
    width: 12em;
    box-shadow: 0 0 3pt 3pt #1f4c52;
    background-image: url(../Images/portrait.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#DownloadCv .Button {
    background-color: #f9f9f9;
}
    #DownloadCv .Button:hover {
        background-color: #1f4c52;
    }

#Bio {
    color: #1f4c52;
    background: rgb(249,249,249);
    background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 50%, rgba(249,249,249,0) 100%);
}


/*KEYSKILLS SECTION*/
#Skills {
    background-image: url(../Images/bg-keySkills.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Skills .Header {
    color: #f7f7f7;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(31,76,82,1) 30%, rgba(31,76,82,1) 60%, rgba(255,255,255,0) 100%);
    width: 35%;
}


/*PROJECTS SECTION*/
#Projects {
    background-image: url(../Images/bg-Projects.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Projects .Header {
    color: #1f4c52; 
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 30%, rgba(247,247,247,1) 70%, rgba(255,255,255,0) 100%);
}

.CodeButton, .LiveButton {
    color: #1f4c52;
    background-color: #f9f9f9;
    
}
    .CodeButton:hover, .LiveButton:hover {
        background-color: #1f4c52;
        color: white;
    }

#Projects .Name {
    color: #1f4c52;
}

.Project .Image, .Project .Body {
    min-height: 18em;
    outline: solid;
    outline-color: #1f4c52;
}

#ProjectOne .Image {
    background-image: url(../Images/portfolio-1.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

#ProjectTwo .Image {
    background-image: url(../Images/portfolio-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ProjectThree .Image {
    background-image: url(../Images/portfolio-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ProjectFour .Image {
    background-image: url(../Images/portfolio-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*CONTACT SECTION*/
#Contact {
    background: rgb(52,58,64);
    background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(31,76,82,1) 45%, rgba(31,76,82,1) 55%, rgba(52,58,64,1) 100%);
}

#Contact .Header{
    color: #1f4c52;
    background: rgb(249,249,249);
    background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 50%, rgba(249,249,249,0) 100%);
}

.Social {
    width: 5em;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
    color: #1f4c52;
    background-color: #f9f9f9;
}
    .Social .Link {
        color: #1f4c52;
    }

