/*NAVIGATION*/
body {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    body.on {
        padding-left: 10rem;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

.Toggler {
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 3rem;
    left: 4rem;
    border: 1px solid #f9f9f9;
    z-index: 999;
    background: rgb(112,140,144);
    background: radial-gradient(circle, rgba(112,140,144,1) 0%, rgba(31,76,82,1) 50%, rgba(35,35,37,1) 100%);
    background-color: #1f4c52;
    box-shadow: 0.15rem 0.2rem 0.1rem black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    .Toggler:hover, .Toggler.on {
        color: #1f4c52;
        background: #f9f9f9;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

.Nav {
    top: 0;
    left: -13rem;
    padding-bottom: 5rem;
    position: fixed;
    height: 100vh;
    width: 13rem;
    z-index: 998;
    background: rgb(35,35,37);
    background: linear-gradient(0deg, rgba(35,35,37,1) 0%, rgba(31,76,82,1) 50%, rgba(35,35,37,1) 100%);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    .Nav.on {
        left: 0rem;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

.Nav .Item {
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    color: #f9f9f9;
    margin: 1rem 0 1rem 0;
}
    .Nav .Item:hover{
        text-decoration: none;
    }

/*HEAD SECTION*/
#Head {
    height: 100vh;
    background-image: url(../Images/bg-pageHead.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Profession {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(31,76,82,1) 30%, rgba(31,76,82,1) 60%, rgba(255,255,255,0) 100%);
}

#AboutButton {
    border: 1px solid #f9f9f9;
    background: rgb(112,140,144);
    background: radial-gradient(circle, rgba(112,140,144,1) 0%, rgba(31,76,82,1) 25%, rgba(35,35,37,1) 100%);
    background-color: #1f4c52;
    box-shadow: 0.15rem 0.2rem 0.1rem black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    #AboutButton:hover {
        color: #1f4c52;
        background: #f9f9f9;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }


/*ABOUT SECTION*/
#About {
    background-color: #f9f9f9;
    background-image: url(../Images/bg-Projects.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Portrait .Image {
    height: 12rem;
    width: 12rem;
    box-shadow: 0 0 3pt 3pt #1f4c52;
    background-image: url(../Images/portrait.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#DownloadCv .Button {
    border: 1px solid #f9f9f9;
    background: rgb(112,140,144);
    background: radial-gradient(circle, rgba(112,140,144,1) 0%, rgba(31,76,82,1) 25%, rgba(35,35,37,1) 100%);
    background-color: #1f4c52;
    box-shadow: 0.15rem 0.2rem 0.1rem black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    #DownloadCv .Button:hover {
        color: #1f4c52;
        background: #f9f9f9;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

#Bio {
    color: #1f4c52;
    background: rgb(249,249,249);
    background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 50%, rgba(249,249,249,0) 100%);
}


/*KEYSKILLS SECTION*/
#Skills {
    background-image: url(../Images/bg-keySkills.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Skills .Header {
    color: #f7f7f7;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(31,76,82,1) 30%, rgba(31,76,82,1) 60%, rgba(255,255,255,0) 100%);
    width: 35%;
}

#ProjectsButton {
    border: 1px solid #f9f9f9;
    background: rgb(112,140,144);
    background: radial-gradient(circle, rgba(112,140,144,1) 0%, rgba(31,76,82,1) 25%, rgba(35,35,37,1) 100%);
    background-color: #1f4c52;
    box-shadow: 0.15rem 0.2rem 0.1rem black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    #ProjectsButton:hover {
        color: #1f4c52;
        background: #f9f9f9;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

/*PROJECTS SECTION*/
#Projects {
    background-image: url(../Images/bg-Projects.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Projects .Header {
    color: #1f4c52; 
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(247,247,247,1) 30%, rgba(247,247,247,1) 70%, rgba(255,255,255,0) 100%);
}

.CodeButton, .LiveButton {
    border: 1px solid #f9f9f9;
    background: rgb(112,140,144);
    background: radial-gradient(circle, rgba(112,140,144,1) 0%, rgba(31,76,82,1) 25%, rgba(35,35,37,1) 100%);
    background-color: #1f4c52;
    box-shadow: 0.15rem 0.2rem 0.1rem black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

    .CodeButton:hover, .LiveButton:hover {
        color: #1f4c52;
        background: #f9f9f9;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }

#Projects .Name {
    color: #1f4c52;
}

.Project .Image, .Project .Body {
    min-height: 18rem;
    outline: solid;
    outline-color: #1f4c52;
}

#ProjectOne .Image {
    background-image: url(../Images/portfolio-1.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

#ProjectTwo .Image {
    background-image: url(../Images/portfolio-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ProjectThree .Image {
    background-image: url(../Images/portfolio-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ProjectFour .Image {
    background-image: url(../Images/portfolio-4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*CONTACT SECTION*/
#Contact {
    background: rgb(52,58,64);
    background: linear-gradient(90deg, rgba(35,35,37,1) 0%, rgba(31,76,82,1) 50%, rgba(35,35,37,1) 100%);
}

#Contact .Header{
    color: #1f4c52;
    background: rgb(249,249,249);
    background: linear-gradient(90deg, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 50%, rgba(249,249,249,0) 100%);
}

.Social {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 5rem;
    width: 5rem;
    border: 1px solid #f9f9f9;
    z-index: 999;
    background: rgb(112,140,144);
    background: radial-gradient(circle, rgba(112,140,144,1) 0%, rgba(31,76,82,1) 50%, rgba(35,35,37,1) 100%);
    background-color: #1f4c52;
    box-shadow: 0.15rem 0.2rem 0.1rem black;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
    .Social:hover {
        color: #1f4c52;
        background: #f9f9f9;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }