/*HeadSection*/
#Head {
    height: 100vh;
    background-image: url(../Images/bg-pageHead.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Profession {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,4,43,1) 30%, rgba(0,4,43,1) 70%, rgba(2,0,36,0) 100%);
}

#WhoButton {
    color: #00042b;
    background-color: #f9f9f9;
}
    #WhoButton:hover {
        color: #f9f9f9;
        background-color: #00042b;
        outline-color:#f9f9f9;
    }

/*AboutSection*/
#AboutMe {
    height: 70vh;
    background-color: #f9f9f9;
}

#KeySkills {
    height: 30vh;
    background-color: #00042b;
}

#KeySkillsTitle {
    color: #00042b;
    background: rgb(2,0,0);
    background: linear-gradient(90deg, rgba(2,0,0,0) 0%, rgba(249,249,249,0.5018382352941176) 50%, rgba(2,0,36,0) 100%);
    width: 35%;
}