@{
    ViewBag.Title = "Alican Demirtas";
}

<div id="PageHead" class="d-flex justify-content-center align-items-center"><!--PageHead-->
    <div class="d-block text-center pb-5">
        <!--HeadContainer-->

        <h1 class="text-light display-1 font-weight-bold mb-0 animated bounceInLeft">
            <!--FullName-->
            Alican Demirtas
        </h1><!--/FullName-->

        <h3 id="Profession" class="text-light display-4 mt-0 pb-2 animated bounceInRight">
            <!--Profession-->
            .NET Developer
        </h3><!--/Profession-->

            <div class="animated fadeInUpBig delay-1s">
                <button id="WhoButton" class="btn btn-outline-dark mt-4 py-2 px-4 animated wobble delay-2s hvr-bounce-to-bottom">
                    <!--FindOutMore-->
                    <span class="h3">Who?!</span>
                </button><!--/FindOutMore-->
            </div>
        </div>
</div><!--/PageHead-->