@{
    ViewBag.Title = "Alican Demirtas";
}

<section id="Head" class="d-flex justify-content-center align-items-center">
    <!--PageHead-->
    <div class="d-block text-center pb-5">
        <!--HeadContainer-->

        <h1 class="text-light display-1 font-weight-bold mb-0 animated fadeInLeft delay-1s">
            <!--FullName-->
            Alican Demirtas
        </h1><!--/FullName-->

        <h3 id="Profession" class="text-light display-4 mt-0 pb-2 animated fadeInRight delay-1s">
            <!--Profession-->
            .NET Developer
        </h3><!--/Profession-->

        <div class="animated fadeInUp delay-2s mt-5">
            <!--Animation:FadeInUp-->
            <div class="animated wobble delay-2s">
                <!--Animation:Wobble-->

                <button id="WhoButton" onclick="smoothScroll('AboutMe')" class="btn btn-outline-light py-2 px-3">
                    <!--FindOutMore-->
                    <span class="h3">Who?!</span>
                </button><!--/FindOutMore-->

            </div><!--/Animation:Wobble-->
        </div><!--/Animation:FadeInUp-->
    </div>
</section><!--/PageHead-->



@*TODO: FINISH AboutMe SECTION*@
<section id="AboutMe" class="my-5 py-5">
    <!--AboutMeSection-->
    <div class="d-flex container-fluid text-center py-5 my-5 align-items-center justify-content-center">
        <!--AboutMeContainer-->
        <h1 class="display-2 py-5 my-5">
            TODO: AboutMeSection
        </h1>
    </div><!--AboutMeContainer-->
</section><!--AboutMeSection-->



<section id="KeySkills" class="text-center pt-3 pb-2 container-fluid">

    <div id="IconContainer" class="row pt-0">
        <!--Row-->
        <h3 id="KeySkillsTitle" class="col-6 offset-3 col-xl-4 offset-xl-4 display-5 mt-0 pb-2 pt-0 mb-0 text-light text-center">
            <!--Header-->
            Key Skills
        </h3><!--/Header-->
        <div class="col-xl-4 col-3"></div>

        <div class="col-6 col-md-4 col-xl-2 text-light">
            <!--HtmlCssJs-->
            <i id="SkillIcon" class="far fa-window-restore fa-7x mt-4 px-4 pb-3 rounded-circle "></i>
            <h3 class="mb-2">HTML / CSS / JS</h3>
            <h6>Web Development Fundamentals</h6>
        </div><!--/HtmlCssJs-->

        <div class="col-6 col-md-4 col-xl-2 text-light">
            <!--C#.Net-->
            <i id="SkillIcon" class="fas fa-code fa-7x mt-4 px-4 pb-3 rounded-circle "></i>
            <h3 class="mb-1">C# .NET</h3>
            <h6>Object Oriented Programming</h6>
        </div><!--/C#.Net-->

        <div class="col-6 col-md-4 col-xl-2 text-light">
            <!--Asp.NetMvc5-->
            <i id="SkillIcon" class="fas fa-laptop-code fa-7x mt-4 px-4 pb-3 rounded-circle "></i>
            <h3 class="mb-2">ASP.NET MVC 5</h3>
            <h6>Model-View-Controller Pattern</h6>
        </div><!--/Asp.NetMvc5-->

        <div class="col-6 col-md-4 col-xl-2 text-light">
            <!--SqlServer2016-->
            <i id="SkillIcon" class="fas fa-server fa-7x mt-4 px-4 pb-3 rounded-circle "></i>
            <h3 class="mb-2">SQL Server 2016</h3>
            <h6>Relational Database Development</h6>
        </div><!--/SqlServer2016-->

        <div class="col-6 col-md-4 col-xl-2 text-light">
            <!--EntityFramework-->
            <i id="SkillIcon" class="fab fa-etsy fa-7x mt-4 px-4 pb-3 rounded-circle "></i>
            <h3 class="mb-2">Entity Framework</h3>
            <h6>Object Relational Mapping</h6>
        </div><!--/EntityFramework-->

        <div class="col-6 col-md-4 col-xl-2 text-light">
            <!--Bootstrap4-->
            <i id="SkillIcon" class="fab fa-bootstrap fa-7x mt-4 px-4 pb-3 rounded-circle "></i>
            <h3 class="mb-2">Bootstrap 4</h3>
            <h6>Mobile-First Responsive Design</h6>
        </div><!--/Bootstrap4-->

    </div><!--/Row-->
        
    <button id="ProofButton" onclick="smoothScroll('AboutMe')" class="btn btn-outline-light py-2 px-3 mt-5 mb-4 d-inline-block">
        <!--FindOutMore-->
        <span class="h3 mb-0">I Need Proof!</span>
    </button><!--/FindOutMore-->
</section>





