@{
    ViewBag.Title = "Alican Demirtas";
}

<section id="Head" class="d-flex justify-content-center align-items-center">
    <!--PageHead-->
    <div class="d-block text-center pb-5">
        <!--HeadContainer-->

        <h1 class="text-light display-1 font-weight-bold mb-0 animated fadeInLeft delay-1s">
            <!--FullName-->
            Alican Demirtas
        </h1><!--/FullName-->

        <h3 id="Profession" class="text-light display-4 mt-0 pb-2 animated fadeInRight delay-1s">
            <!--Profession-->
            .NET Developer
        </h3><!--/Profession-->

        <div class="animated fadeInUp delay-2s mt-5">
            <!--Animation:FadeInUp-->
            <div class="animated wobble delay-2s">
                <!--Animation:Wobble-->

                <button id="WhoButton" onclick="smoothScroll('KeySkillsTitle')" class="btn py-2 px-3">
                    <!--FindOutMore-->
                    <span class="h3">Who?!</span>
                </button><!--/FindOutMore-->

            </div><!--/Animation:Wobble-->
        </div><!--/Animation:FadeInUp-->
    </div>
</section><!--/PageHead-->

@*TODO: FINISH AboutMe SECTION*@
<section id="AboutMe">
    <!--AboutMeSection-->
    <div class="d-flex container-fluid text-center pb-5 align-items-center justify-content-center">
        <!--AboutMeContainer-->
        <h1 class="display-2">
            TODO: AboutMeSection
        </h1>
    </div><!--AboutMeContainer-->
</section><!--AboutMeSection-->


<section id="KeySkills" class="text-center pt-2 container-fluid">
    <div class="d-flex align-items-start justify-content-center w-100">
        <h3 id="KeySkillsTitle" class="display-5 mt-0 pb-2 pt-0 mb-0 text-center d-inline-block">
            Key Skills
        </h3>
    </div>
    <div class="row">
        <!--Row-->
        <div class="col-3"><!--Column-->
            <i class="fas fa-code bg-light w-100"></i>
        </div><!--/Column-->
        <div class="col-3">
            <!--Column-->

        </div><!--/Column-->
        <div class="col-3">
            <!--Column-->

        </div><!--/Column-->
        <div class="col-3">
            <!--Column-->

        </div><!--/Column-->
    </div><!--/Row-->
    <div class="col-12"></div>
</section>





